@page "/routine"
@using FitnessPT.Components.Controllers
@using FitnessPT.Components.Shared
@using FitnessPT.Dtos
@using FitnessPT.Components.Modals
@inject RoutineController Controller

@rendermode InteractiveServer

<div class="routine-container">
    <div class="routine-header">
        <div class="page-header">
            <div class="page-title">운동 루틴</div>
            <button class="create-button" @onclick="OpenCreateModal">+
            </button>
        </div>
        <CategoryFillter
            @bind-SelectedLevel="selectedLevel"
            @bind-SelectedCategory="selectedCategory"
            OnFiltersChanged="ApplyFilters" />
    </div>
    <div class="routine-grid-container">
        <RoutineCard Routine="routineData"/>
        <RoutineCard Routine="routineData"/>
        <RoutineCard Routine="routineData"/>
        <RoutineCard Routine="routineData"/>
        <RoutineCard Routine="routineData"/>
    </div>
</div>

<RoutineModal
    Routine="selectedRoutine"
    IsActive="showModal"
    IsEdit="isEditMode"
    OnSave="SaveRoutine"
    IsActiveChanged="(value) => showModal = value"/>



@code {
    private string selectedLevel = "";
    private string selectedCategory = "";
    private bool isLoading = true;
    private bool isEditMode = false;
    private bool showModal = false;
    
    RoutineDto routineData;
    RoutineDto selectedRoutine = new RoutineDto();

    protected override async Task OnInitializedAsync()
    {
        routineData = new RoutineDto()
        {
            Category = "upper_body",
            Level = "beginner",
            Description = "테스트 데모 데이터",
            EstimatedDuration = 60,
            Name = "상체 박살 루틴",
            ThumbnailUrl = null,
            Id = 1
        };
        await LoadExercises();
    }

    private async Task ApplyFilters()
    {
        Console.WriteLine($"필터 적용 - 레벨: {selectedLevel}, 카테고리: {selectedCategory}");
        await LoadExercises();
    }

    private async Task LoadExercises()
    {
        isLoading = true;
        Console.WriteLine($"데이터 로드 중 - 레벨: {selectedLevel}, 카테고리: {selectedCategory}");
        isLoading = false;
    }

    private void OpenCreateModal()
    {
        selectedRoutine = new RoutineDto();
        isEditMode = false;
        showModal = true;
        Console.WriteLine("OnClick Modal Open");
    }

    private void SaveRoutine(RoutineInfoDto obj)
    {
        Console.WriteLine("OnClick Save Routine");
    }
}