.routine-card{
    background-color: #0a58ca;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 384px;
}

.routine-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.card-image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 10px 0px;
    overflow: hidden;
    border-right: 20px;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s;
}

.card-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.routine-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0;
    line-height: 1.4;
    flex: 1;
}

.badget-category-container{
    border-radius: 10px;
    font-size: 0.75rem;
    font-weight: 600;
    white-space: nowrap;
}

.badge-category{
    padding: 4px 10px;
    border-radius: 10px;
    width: fit-content;
    background: #e0e7ff;
    color: #3730a3;
}