<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="manifest" href="manifest.json"/>
    <link rel="icon" href="icons/icon-512x512.png"/>
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./app.css" />
    <link rel="stylesheet" href="FitnessPT.styles.css" />
    @* <link rel="icon" type="image/png" href="favicon.png" /> *@

    <!-- Google Sign-In 스크립트 -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <HeadOutlet />
</head>

<body>
<Routes />

<script src="_framework/blazor.web.js"></script>
<script src="js/shared/google-auth.js"></script>
<script src="sw.js"></script>
</body>
</html>